<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.AlarmPluginMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="AlarmPlugin">
        <result column="id" property="id" />
        <result column="alarm_id" property="alarmId" />
        <result column="alarm_type" property="alarmType" />
        <result column="plugin_code" property="pluginCode" />
        <result column="plugin_name" property="pluginName" />
        <result column="plugin_value" property="pluginValue" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, alarm_id AS alarmId, alarm_type AS alarmType, plugin_code AS pluginCode, plugin_name AS pluginName, plugin_value AS pluginValue from s_alarm_plugin
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into s_alarm_plugin(
            alarm_id,
            alarm_type,
            plugin_code,
            plugin_name,
            plugin_value
        ) values (
            #{alarmId},
            #{alarmType},
            #{pluginCode},
            #{pluginName},
            #{pluginValue}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update s_alarm_plugin
        set
        alarm_id = #{alarmPlugin.alarmId},
        alarm_type = #{alarmPlugin.alarmType},
        plugin_code = #{alarmPlugin.pluginCode},
        plugin_name = #{alarmPlugin.pluginName},
        plugin_value = #{alarmPlugin.pluginValue}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from s_alarm_plugin where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="cn.vbill.middleware.porter.manager.core.entity.AlarmPlugin">
        select id, alarm_id AS alarmId, alarm_type AS alarmType, plugin_code AS pluginCode, plugin_name AS pluginName, plugin_value AS pluginValue from s_alarm_plugin
        where id = #{id}
    </select>

    <!-- 根据告警主鍵查找 -->
    <select id="selectByAlarmId" resultType="cn.vbill.middleware.porter.manager.core.entity.AlarmPlugin">
        select id, alarm_id AS alarmId, alarm_type AS alarmType, plugin_code AS pluginCode, plugin_name AS pluginName, plugin_value AS pluginValue from s_alarm_plugin
        where alarm_id = #{alarmId}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from s_alarm_plugin
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="cn.vbill.middleware.porter.manager.core.entity.AlarmPlugin">
        select id, alarm_id AS alarmId, alarm_type AS alarmType, plugin_code AS pluginCode, plugin_name AS pluginName, plugin_value AS pluginValue from s_alarm_plugin
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>


    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into s_alarm_plugin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">
                alarm_id,
            </if>
            <if test="alarmType != null">
                alarm_type,
            </if>
            <if test="pluginCode != null">
                plugin_code,
            </if>
            <if test="pluginName != null">
                plugin_name,
            </if>
            <if test="pluginValue != null">
                plugin_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">
                #{alarmId,jdbcType=BIGINT},
            </if>
            <if test="alarmType != null">
                #{alarmType,jdbcType=VARCHAR},
            </if>
            <if test="pluginCode != null">
                #{pluginCode,jdbcType=VARCHAR},
            </if>
            <if test="pluginName != null">
                #{pluginName,jdbcType=VARCHAR},
            </if>
            <if test="pluginValue != null">
                #{pluginValue,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update s_alarm_plugin
        <set>
            <if test="alarmPlugin.alarmId != null">
                alarm_id = #{alarmPlugin.alarmId,jdbcType=BIGINT},
            </if>
            <if test="alarmPlugin.alarmType != null">
                alarm_type = #{alarmPlugin.alarmType,jdbcType=VARCHAR},
            </if>
            <if test="alarmPlugin.pluginCode != null">
                plugin_code = #{alarmPlugin.pluginCode,jdbcType=VARCHAR},
            </if>
            <if test="alarmPlugin.pluginName != null">
                plugin_name = #{alarmPlugin.pluginName,jdbcType=VARCHAR},
            </if>
            <if test="alarmPlugin.pluginValue != null">
                plugin_value = #{alarmPlugin.pluginValue,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
