<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.CMenuMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="CMenu">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="fathercode" property="fathercode" />
        <result column="name" property="name" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_image" property="menuImage" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="iscancel" property="iscancel" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="isleaf" property="isleaf" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, code, fathercode, name, menu_url AS menuUrl, level, sort, iscancel, type, state, remark from c_menu
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into c_menu (
          code,
          fathercode,
          name,
          menu_url,
          menu_image,
          level,
          sort,
          isleaf
        ) VALUES (
          #{code},
          #{fathercode},
          #{name},
          #{menuUrl},
          #{menuImage},
          #{level},
          #{sort},
          #{isleaf}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update c_menu
        SET
          code = #{cMenu.code},
          fathercode = #{cMenu.fathercode},
          name = #{cMenu.name},
          menu_url = #{cMenu.menuUrl},
          menu_image = #{cMenu.menuImage},
          level = #{cMenu.level},
          sort = #{cMenu.sort},
          isleaf = #{cMenu.isleaf}
        where id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="delete">
        update c_menu
        SET iscancel = 1
        WHERE id = #{id}
    </update>

    <!-- 根据fatherCode查询 -->
    <select id="findByFatherCode" resultType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        select id, code, fathercode, name, menu_url AS menuUrl,
        menu_image AS menuImage, level, sort, iscancel, type, isleaf
        from c_menu
        WHERE fathercode = #{fatherCode} and
        iscancel = 0
        order by sort asc
    </select>

    <!-- 查询全部 -->
    <select id="findAll" resultType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        select id, code, fathercode, name, menu_url AS menuUrl,
        menu_image AS menuImage, level, sort, iscancel, type, isleaf
        from c_menu
        WHERE iscancel = 0
    </select>

    <!-- 根据主键查询 -->
    <select id="findById" resultType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        select id, code, fathercode, name, menu_url AS menuUrl,
        menu_image AS menuImage, level, sort, iscancel, type, isleaf
        from c_menu
        WHERE id = #{id}
    </select>

    <!-- 根据权限查询菜单 -->
    <select id="findByRoleCode" resultType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        select t.id, t.code, t.fathercode, t.name, t.menu_url AS menuUrl,
        t.menu_image AS menuImage, t.level, t.sort, t.iscancel, t.type, t.isleaf
        from c_menu t
        <where>
            1 = 1 and iscancel = 0 and state = 1
            <if test=" roleCode != 'A0001'">
                AND code IN (select menu_code from c_role_menu a where role_code = #{roleCode})
            </if> 
        </where>
        ORDER BY sort
    </select>

    <!-- 查询所有的菜单 -->
    <select id="getAll" resultType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        select id, code, fathercode, name, menu_url as menuUrl, menu_image as menuImage, level, sort, iscancel, isleaf, state
        from c_menu
        <where>
            <if test="state != null and state != ''">
                state = #{state}
            </if>
            and iscancel = 0
        </where>
        order by sort asc
    </select>

    <!-- 新增菜单 -->
    <insert id="addMenu" parameterType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        insert into c_menu(
        fathercode,
        code,
        name,
        menu_url,
        menu_image,
        level,
        sort,
        isleaf
        ) values (
        #{fathercode},
        #{code},
        #{name},
        #{menuUrl},
        #{menuImage},
        #{level},
        #{sort},
        #{isleaf}
        )
    </insert>

    <!-- 添加新的菜单时进行code的重复验证 -->
    <select id="checkCode" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id
        from c_menu
        where iscancel = 0 and code = #{code}
    </select>

    <!-- 获取当前code的子菜单-->
    <select id="getCode" resultType="java.lang.String">
        select code
        from c_menu
        where iscancel = 0 and fathercode = #{code}
    </select>

    <!-- 菜单启用或者停用 -->
    <update id="updateState">
        update c_menu
        set state = #{state}
        <where>
            code in
            <foreach collection="codeList" item="code" index="index" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </where>
    </update>

    <update id="updateSingleState">
        update c_menu
        set state = #{state}
        where code = #{code}
    </update>

    <!-- 修改菜单信息 -->
    <update id="updateMenu" parameterType="cn.vbill.middleware.porter.manager.core.entity.CMenu">
        update c_menu
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="menuUrl != null and menuUrl != ''">
                menu_url = #{menuUrl},
            </if>
            <if test="menuImage != null and menuImage != ''">
                menu_image = #{menuImage},
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 逻辑删除菜单信息 -->
    <update id="deleteMenu" parameterType="java.util.List">
        update c_menu
        set iscancel = 1
        <where>
            code in
            <foreach collection="codeList" item="code" index="index" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </where>
    </update>

    <!-- 删除单个菜单信息 -->
    <update id="deleteSingleMenu">
        update c_menu
        set iscancel = 1
        where code = #{code}
    </update>
</mapper>
