<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.CRoleMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="CRole">
        <result column="id" property="id" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id from c_role
    </sql>-->

    <!-- 查询所有可用角色 -->
    <select id="findAll" resultType="cn.vbill.middleware.porter.manager.core.entity.CRole">
        SELECT id, role_code AS roleCode
        FROM c_role
        WHERE iscancel = 0
    </select>

    <!-- 用户新增角色接口 -->
    <select id="findList" resultType="cn.vbill.middleware.porter.manager.core.entity.CRole">
        SELECT id, role_code AS roleCode, role_name AS roleName, sort, iscancel, type, state
        FROM c_role
        WHERE iscancel = 0 and role_code &lt;&gt; 'A0001'
        ORDER BY sort asc
    </select>

    <select id="getAll" resultType="cn.vbill.middleware.porter.manager.core.entity.CRole">
        SELECT id, role_code as roleCode, role_name as roleName, sort, iscancel
        from c_role
        where iscancel = 0 and role_code != 'A0001'
        order by sort asc
    </select>
</mapper>
