<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.HomeMapper">


    <select id="block" resultType="cn.vbill.middleware.porter.manager.core.icon.HomeBlockResult">
        SELECT
            a.num1 AS tenMinutesCount,
            b.num2 AS oneHourCount,
            c.num3 AS twentyFourHourCount,
            d.num4 AS TasksWorkingCount,
            e.num1 AS nodeNum1,
            e.num2 AS nodeNum2,
            f.num1 AS mrNodeNum1,
            f.num2 AS mrNodeNum2,
            f.num3 AS mrNodeNum3
        FROM
            ( SELECT COUNT( id ) num1 FROM mr_log_monitor WHERE log_date > DATE_ADD( NOW( ), INTERVAL - 1 HOUR ) ) a,
            ( SELECT COUNT( id ) num2 FROM mr_log_monitor WHERE log_date > DATE_ADD( NOW( ), INTERVAL - 8 HOUR ) ) b,
            ( SELECT COUNT( id ) num3 FROM mr_log_monitor WHERE log_date > DATE_ADD( NOW( ), INTERVAL - 24 HOUR ) ) c,
            ( SELECT COUNT( id ) num4 FROM job_tasks WHERE job_state = 'WORKING' ) d,
            (
                SELECT
                    SUM( ( CASE WHEN state = 1 THEN 1 ELSE 0 END ) ) AS num1,
                    SUM( ( CASE WHEN state = 1 AND task_push_state = 'WORKING' THEN 1 ELSE 0 END ) ) AS num2
                FROM
                    b_nodes
                WHERE
                    iscancel = 0
            ) e,
            (
                SELECT
                    SUM( ( CASE WHEN health_level = 'GREEN' THEN 1 ELSE 0 END ) ) AS num1,
                    SUM( ( CASE WHEN health_level = 'YELLOW' THEN 1 ELSE 0 END ) ) AS num2,
                    SUM( ( CASE WHEN health_level = 'RED' THEN 1 ELSE 0 END ) ) AS num3
                FROM
                    mr_nodes_schedule
                WHERE
                    iscancel = 0
                AND node_id IN ( SELECT node_id FROM b_nodes WHERE state = 1 )
            ) f;
    </select>
</mapper>