<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.JobTasksOwnerMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="cn.vbill.middleware.porter.manager.core.entity.JobTasksOwner">
        <result column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="owner_level" property="ownerLevel" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, job_id AS jobId, owner_level AS ownerLevel, owner_id AS ownerId, create_time AS createTime, update_time AS updateTime, operator, iscancel, remark from job_tasks_owner
    </sql>-->

    <!-- 根据任务id和类型查询ownerId -->
    <select id="selectOwnerIdByJobIdOrTypeOne" resultType="java.lang.Long">
        select owner_id AS ownerId from job_tasks_owner
        <where>
            iscancel = 0
            and job_id = #{jobId}
            <if test="type != null ">
                and type = #{type}
            </if>
        </where>
    </select>

    <!-- 根据任务id和用户id查询该用户type -->
    <select id="findOwnerTypeByJobIdAndUserId" resultType="java.lang.Integer">
        select type from job_tasks_owner
        where
            iscancel = 0
            and job_id = #{jobId} and owner_id = #{userId}
    </select>

    <!-- 新增 -->
    <insert id="insert">
        insert into job_tasks_owner(
            job_id,
            owner_id
        ) values (
            #{jobId},
            #{ownerId}
        )
    </insert>

    <!-- 逻辑删除 -->
    <update id="delete">
        update job_tasks_owner
        set iscancel = 1
        <where>
            1=1
            <if test="jobId != null">
                and jobId = #{jobId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="userId != null">
                and owner_id = #{userId}
            </if>
        </where>
    </update>

    <!-- 批量新增 -->
    <insert id="batchInsert">
        insert into job_tasks_owner(
            job_id,
            owner_id,
            type
        )
        values
        <foreach collection="toUserIds" item="userId" index="index" separator=",">
            (#{jobId}, #{userId}, #{type})
        </foreach>
    </insert>
</mapper>
