<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.JobTasksOwnerMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="cn.vbill.middleware.porter.manager.core.entity.JobTasksOwner">
        <result column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="owner_level" property="ownerLevel" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, job_id AS jobId, owner_level AS ownerLevel, owner_id AS ownerId, create_time AS createTime, update_time AS updateTime, operator, iscancel, remark from job_tasks_owner
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into job_tasks_owner(
            job_id,
            owner_level,
            owner_id,
            operator
        ) values (
            #{jobId},
            #{ownerLevel},
            #{ownerId},
            #{operator}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update job_tasks_owner
        set
            job_id = #{jobTasksOwner.jobId},
            owner_level = #{jobTasksOwner.ownerLevel},
            owner_id = #{jobTasksOwner.ownerId},
            update_time = #{jobTasksOwner.updateTime},
            operator = #{jobTasksOwner.operator},
            iscancel = #{jobTasksOwner.iscancel},
            remark = #{jobTasksOwner.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from job_tasks_owner where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="cn.vbill.middleware.porter.manager.core.entity.JobTasksOwner">
        select id, job_id AS jobId, owner_level AS ownerLevel, owner_id AS ownerId, create_time AS createTime, update_time AS updateTime, operator, iscancel, remark from job_tasks_owner
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from job_tasks_owner
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="cn.vbill.middleware.porter.manager.core.entity.JobTasksOwner">
        select id, job_id AS jobId, owner_level AS ownerLevel, owner_id AS ownerId, create_time AS createTime, update_time AS updateTime, operator, iscancel, remark from job_tasks_owner
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into job_tasks_owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="jobId != null">
                job_id,
            </if>
            <if test="ownerLevel != null">
                owner_level,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobId != null">
                #{jobId,jdbcType=${field.mybatisType}},
            </if>
            <if test="ownerLevel != null">
                #{ownerLevel,jdbcType=${field.mybatisType}},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=${field.mybatisType}},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=${field.mybatisType}},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=${field.mybatisType}},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=${field.mybatisType}},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=${field.mybatisType}},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=${field.mybatisType}},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update job_tasks_owner
        <set>
            <if test="jobTasksOwner.id != null">
                id = #{jobTasksOwner.id,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.jobId != null">
                job_id = #{jobTasksOwner.jobId,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.ownerLevel != null">
                owner_level = #{jobTasksOwner.ownerLevel,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.ownerId != null">
                owner_id = #{jobTasksOwner.ownerId,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.createTime != null">
                create_time = #{jobTasksOwner.createTime,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.updateTime != null">
                update_time = #{jobTasksOwner.updateTime,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.operator != null">
                operator = #{jobTasksOwner.operator,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.iscancel != null">
                iscancel = #{jobTasksOwner.iscancel,jdbcType=${field.mybatisType}},
            </if>
            <if test="jobTasksOwner.remark != null">
                remark = #{jobTasksOwner.remark,jdbcType=${field.mybatisType}},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
