<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.LogGradeMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="LogGrade">
        <result column="id" property="id" />
        <result column="log_level" property="logLevel" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, log_level AS logLevel, create_user_id AS createUserId, update_user_id AS updateUserId, create_time AS createTime, update_time AS updateTime, state, iscancel, remark from s_log_grade
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into s_log_grade(
        log_level,
        create_user_id,
        update_user_id,
        create_time,
        update_time,
        state,
        iscancel,
        remark
        ) values (
        #{logLevel},
        #{createUserId},
        #{updateUserId},
        #{createTime},
        #{updateTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update s_log_grade
        set
        log_level = #{logGrade.logLevel},
        create_user_id = #{logGrade.createUserId},
        update_user_id = #{logGrade.updateUserId},
        create_time = #{logGrade.createTime},
        update_time = #{logGrade.updateTime},
        state = #{logGrade.state},
        iscancel = #{logGrade.iscancel},
        remark = #{logGrade.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from s_log_grade where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="cn.vbill.middleware.porter.manager.core.entity.LogGrade">
        select id, log_level AS logLevel, create_user_id AS createUserId, update_user_id AS updateUserId, create_time AS createTime, update_time AS updateTime, state, iscancel, remark from s_log_grade
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from s_log_grade
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="cn.vbill.middleware.porter.manager.core.entity.LogGrade">
        select id, log_level AS logLevel, create_user_id AS createUserId, update_user_id AS updateUserId, create_time AS createTime, update_time AS updateTime, state, iscancel, remark from s_log_grade
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 查询最大id数据 -->
    <select id="select" resultType="cn.vbill.middleware.porter.manager.core.entity.LogGrade">
        select id, log_level AS logLevel
        from s_log_grade
        ORDER BY id desc limit 1
    </select>


    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into s_log_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logLevel != null">
                log_level,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createTime != null">
                update_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logLevel != null">
                #{logLevel,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update s_log_grade
        <set>
            <if test="logGrade.logLevel != null">
                log_level = #{logGrade.logLevel,jdbcType=VARCHAR},
            </if>
            <if test="logGrade.createUserId != null">
                create_user_id = #{logGrade.createUserId,jdbcType=BIGINT},
            </if>
            <if test="logGrade.updateUserId != null">
                update_user_id = #{logGrade.updateUserId,jdbcType=BIGINT},
            </if>
            <if test="logGrade.updateTime != null">
                update_time = #{logGrade.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logGrade.state != null">
                state = #{logGrade.state,jdbcType=INTEGER},
            </if>
            <if test="logGrade.iscancel != null">
                iscancel = #{logGrade.iscancel,jdbcType=INTEGER},
            </if>
            <if test="logGrade.remark != null">
                remark = #{logGrade.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
