<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.NodesOwnerMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="cn.vbill.middleware.porter.manager.core.event.NodesOwner">
        <result column="id" property="id" />
        <result column="node_id" property="nodeId" />
        <result column="owner_level" property="ownerLevel" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, node_id AS nodeId, owner_level AS ownerLevel, owner_id AS ownerId, create_time AS createTime, update_time AS updateTime, operator, iscancel, remark from b_nodes_owner
    </sql>-->

    <!-- 根据节点id和用户id查询该用户type -->
    <select id="findOwnerTypeByNodeIdAndUserId" resultType="java.lang.Integer">
        select type from b_nodes_owner
        where
            iscancel = 0
            and node_id = #{nodeId} and owner_id = #{userId}
    </select>

    <!-- 新增 -->
    <insert id="insert">
        insert into b_nodes_owner(
            node_id,
            owner_id
        ) values (
            #{nodeId},
            #{ownerId}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="batchInsert">
        insert into b_nodes_owner(
        node_id,
            owner_id,
            type
        )
        values
        <foreach collection="toUserIds" item="userId" index="index" separator=",">
            (#{nodeId}, #{userId}, #{type})
        </foreach>

    </insert>

    <!-- 逻辑删除 -->
    <update id="delete">
        update b_nodes_owner
        set iscancel = 1
        <where>
            1=1
            <if test="nodeId != null">
                and node_id = #{nodeId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="userId != null">
                and owner_id = #{userId}
            </if>
        </where>
    </update>

</mapper>
