<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.AlarmUserMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.AlarmUser">
        <result column="id" property="id" />
        <result column="alarm_id" property="alarmId" />
        <result column="user_id" property="userId" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, alarm_id AS alarmId, user_id AS userId from s_alarm_user
    </sql>-->
</mapper>
