<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.AlarmUserMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.AlarmUser">
        <result column="id" property="id" />
        <result column="alarm_id" property="alarmId" />
        <result column="user_id" property="userId" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, alarm_id AS alarmId, user_id AS userId from s_alarm_user
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into s_alarm_user(
        alarm_id,
        user_id
        ) values (
        #{alarmId},
        #{userId}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update s_alarm_user
        set
        alarm_id = #{alarmUser.alarmId},
        user_id = #{alarmUser.userId}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from s_alarm_user where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.AlarmUser">
        select id, alarm_id AS alarmId, user_id AS userId from s_alarm_user
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from s_alarm_user
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.AlarmUser">
        select id, alarm_id AS alarmId, user_id AS userId from s_alarm_user
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into s_alarm_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">
                alarm_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">
                #{alarmId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update s_alarm_user
        <set>
            <if test="alarmUser.alarmId != null">
                alarm_id = #{alarmUser.alarmId,jdbcType=BIGINT},
            </if>
            <if test="alarmUser.userId != null">
                user_id = #{alarmUser.userId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
