<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.CUserMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.CUser">
        <result column="id" property="id" />
        <result column="loginname" property="loginname" />
        <result column="loginpw" property="loginpw" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, loginname, loginpw, nickname, email, mobile, state, remark from c_user
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into c_user(
        loginname,
        loginpw,
        nickname,
        email,
        mobile,
        state,
        remark
        ) values (
        #{loginname},
        #{loginpw},
        #{nickname},
        #{email},
        #{mobile},
        #{state},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update c_user
        set
        loginname = #{cuser.loginname},
        loginpw = #{cuser.loginpw},
        nickname = #{cuser.nickname},
        email = #{cuser.email},
        mobile = #{cuser.mobile},
        state = #{cuser.state},
        remark = #{cuser.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from c_user where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.CUser">
        select id, loginname, loginpw, nickname, email, mobile, state, remark from c_user
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from c_user
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.CUser">
        select id, loginname, loginpw, nickname, email, mobile, state, remark from c_user
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>
</mapper>
