<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataSourceMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataSource">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="data_type" property="dataType" />
        <result column="data_json" property="dataJson" />
        <result column="date_user" property="dateUser" />
        <result column="date_passwd" property="datePasswd" />
        <result column="date_url" property="dateUrl" />
        <result column="date_servers" property="dateServers" />
        <result column="date_topics" property="dateTopics" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_source(
        name,
        data_type,
        data_json,
        date_user,
        date_passwd,
        date_url,
        date_servers,
        date_topics,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{name},
        #{dataType},
        #{dataJson},
        #{dateUser},
        #{datePasswd},
        #{dateUrl},
        #{dateServers},
        #{dateTopics},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_source
        set
        name = #{dataSource.name},
        data_type = #{dataSource.dataType},
        data_json = #{dataSource.dataJson},
        date_user = #{dataSource.dateUser},
        date_passwd = #{dataSource.datePasswd},
        date_url = #{dataSource.dateUrl},
        date_servers = #{dataSource.dateServers},
        date_topics = #{dataSource.dateTopics},
        creater = #{dataSource.creater},
        create_time = #{dataSource.createTime},
        state = #{dataSource.state},
        iscancel = #{dataSource.iscancel},
        remark = #{dataSource.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from b_data_source where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DataSource">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_source
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataSource">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>
</mapper>
