<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataFieldMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataField">
        <result column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="field_name" property="fieldName" />
        <result column="field_type" property="fieldType" />
        <result column="field_comment" property="fieldComment" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_field(
        table_id,
        field_name,
        field_type,
        field_comment,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{tableId},
        #{fieldName},
        #{fieldType},
        #{fieldComment},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_field
        set
        table_id = #{dataField.tableId},
        field_name = #{dataField.fieldName},
        field_type = #{dataField.fieldType},
        field_comment = #{dataField.fieldComment},
        creater = #{dataField.creater},
        create_time = #{dataField.createTime},
        state = #{dataField.state},
        iscancel = #{dataField.iscancel},
        remark = #{dataField.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from b_data_field where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DataField">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_field
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataField">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into b_data_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">
                table_id,
            </if>
            <if test="fieldName != null">
                field_name,
            </if>
            <if test="fieldType != null">
                field_type,
            </if>
            <if test="fieldComment != null">
                field_comment,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">
                #{tableId,jdbcType=BIGINT},
            </if>
            <if test="fieldName != null">
                #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="fieldType != null">
                #{fieldType,jdbcType=VARCHAR},
            </if>
            <if test="fieldComment != null">
                #{fieldComment,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update b_data_field
        <set>
            <if test="dataField.tableId != null">
                table_id = #{dataField.tableId,jdbcType=BIGINT},
            </if>
            <if test="dataField.fieldName != null">
                field_name = #{dataField.fieldName,jdbcType=VARCHAR},
            </if>
            <if test="dataField.fieldType != null">
                field_type = #{dataField.fieldType,jdbcType=VARCHAR},
            </if>
            <if test="dataField.fieldComment != null">
                field_comment = #{dataField.fieldComment,jdbcType=VARCHAR},
            </if>
            <if test="dataField.creater != null">
                creater = #{dataField.creater,jdbcType=BIGINT},
            </if>
            <if test="dataField.createTime != null">
                create_time = #{dataField.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dataField.state != null">
                state = #{dataField.state,jdbcType=INTEGER},
            </if>
            <if test="dataField.iscancel != null">
                iscancel = #{dataField.iscancel,jdbcType=INTEGER},
            </if>
            <if test="dataField.remark != null">
                remark = #{dataField.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
