<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataSourceMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataSource">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="data_type" property="dataType" />
        <result column="data_json" property="dataJson" />
        <result column="date_user" property="dateUser" />
        <result column="date_passwd" property="datePasswd" />
        <result column="date_url" property="dateUrl" />
        <result column="date_servers" property="dateServers" />
        <result column="date_topics" property="dateTopics" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_source(
        name,
        data_type,
        data_json,
        date_user,
        date_passwd,
        date_url,
        date_servers,
        date_topics,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{name},
        #{dataType},
        #{dataJson},
        #{dateUser},
        #{datePasswd},
        #{dateUrl},
        #{dateServers},
        #{dateTopics},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_source
        set
        name = #{dataSource.name},
        data_type = #{dataSource.dataType},
        data_json = #{dataSource.dataJson},
        date_user = #{dataSource.dateUser},
        date_passwd = #{dataSource.datePasswd},
        date_url = #{dataSource.dateUrl},
        date_servers = #{dataSource.dateServers},
        date_topics = #{dataSource.dateTopics},
        creater = #{dataSource.creater},
        create_time = #{dataSource.createTime},
        state = #{dataSource.state},
        iscancel = #{dataSource.iscancel},
        remark = #{dataSource.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <update id="delete">
        update b_data_source
        SET
        iscancel = 1
        where id = #{id}
    </update>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DataSource">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_source
        where iscancel = 0
    </select>
    <!--<select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_source
        where 1=1
    </select>-->

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataSource">
        select id, name, data_type AS dataType, date_url AS dateUrl, create_time AS createTime from b_data_source
        <where>
            <!--<if test="state != null and state != ''">-->
                <!--state = #{state}-->
            <!--</if>-->
            1 = 1
            <if test="name != null and name != ''">
                and name LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and create_time &gt; #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and create_time &lt; #{endTime}
            </if>
            and iscancel = 0
        </where>
            order by create_time, id
            limit #{page.offset},#{page.pageSize}
    </select>
    <!--<select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataSource">
        select id, name, data_type AS dataType, data_json AS dataJson, date_user AS dateUser, date_passwd AS datePasswd, date_url AS dateUrl, date_servers AS dateServers, date_topics AS dateTopics, creater, create_time AS createTime, state, iscancel, remark from b_data_source
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>-->

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into b_data_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="dataJson != null">
                data_json,
            </if>
            <if test="dateUser != null">
                date_user,
            </if>
            <if test="datePasswd != null">
                date_passwd,
            </if>
            <if test="dateUrl != null">
                date_url,
            </if>
            <if test="dateServers != null">
                date_servers,
            </if>
            <if test="dateTopics != null">
                date_topics,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataJson != null">
                #{dataJson,jdbcType=VARCHAR},
            </if>
            <if test="dateUser != null">
                #{dateUser,jdbcType=VARCHAR},
            </if>
            <if test="datePasswd != null">
                #{datePasswd,jdbcType=VARCHAR},
            </if>
            <if test="dateUrl != null">
                #{dateUrl,jdbcType=VARCHAR},
            </if>
            <if test="dateServers != null">
                #{dateServers,jdbcType=VARCHAR},
            </if>
            <if test="dateTopics != null">
                #{dateTopics,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update b_data_source
        <set>
            <if test="dataSource.name != null">
                name = #{dataSource.name,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dataType != null">
                data_type = #{dataSource.dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dataJson != null">
                data_json = #{dataSource.dataJson,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dateUser != null">
                date_user = #{dataSource.dateUser,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.datePasswd != null">
                date_passwd = #{dataSource.datePasswd,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dateUrl != null">
                date_url = #{dataSource.dateUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dateServers != null">
                date_servers = #{dataSource.dateServers,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.dateTopics != null">
                date_topics = #{dataSource.dateTopics,jdbcType=VARCHAR},
            </if>
            <if test="dataSource.creater != null">
                creater = #{dataSource.creater,jdbcType=BIGINT},
            </if>
            <if test="dataSource.createTime != null">
                create_time = #{dataSource.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dataSource.state != null">
                state = #{dataSource.state,jdbcType=INTEGER},
            </if>
            <if test="dataSource.iscancel != null">
                iscancel = #{dataSource.iscancel,jdbcType=INGETER},
            </if>
            <if test="dataSource.remark != null">
                remark = #{dataSource.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
