<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataTableMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataTable">
        <result column="id" property="id" />
        <result column="source_id" property="sourceId" />
        <result column="data_type" property="dataType" />
        <result column="bank_name" property="bankName" />
        <result column="table_name" property="tableName" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, source_id AS sourceId, data_type AS dataType, bank_name AS bankName, table_name AS tableName, creater, create_time AS createTime, state, iscancel, remark from b_data_table
    </sql>-->
</mapper>
