<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.DataTableMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="DataTable">
        <result column="id" property="id" />
        <result column="source_id" property="sourceId" />
        <result column="data_type" property="dataType" />
        <result column="bank_name" property="bankName" />
        <result column="table_name" property="tableName" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, source_id AS sourceId, data_type AS dataType, bank_name AS bankName, table_name AS tableName, creater, create_time AS createTime, state, iscancel, remark from b_data_table
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_table(
        source_id,
        data_type,
        bank_name,
        table_name,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{sourceId},
        #{dataType},
        #{bankName},
        #{tableName},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_table
        set
        source_id = #{dataTable.sourceId},
        data_type = #{dataTable.dataType},
        bank_name = #{dataTable.bankName},
        table_name = #{dataTable.tableName},
        creater = #{dataTable.creater},
        create_time = #{dataTable.createTime},
        state = #{dataTable.state},
        iscancel = #{dataTable.iscancel},
        remark = #{dataTable.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <update id="delete">
        UPDATE b_data_table
        SET iscancel = 1
        WHERE id = #{id}
    </update>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="cn.vbill.middleware.porter.manager.core.entity.DataTable">
        SELECT
        b.id, b.source_id AS sourceId, b.data_type AS dataType, b.bank_name AS bankName,
        b.table_name AS tableName, b.create_time AS createTime, d.name AS sourceName
        from b_data_table b left join b_data_source d
        on b.source_id = d.id
        where b.id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_table
        <where>
            iscancel = 0
            <if test="bankName != null and bankName != ''">
                and bank_name LIKE CONCAT('%',#{bankName},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and create_time &gt; #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and create_time &lt; #{endTime}
            </if>
        </where>
    </select>

    <!-- 分页 -->
    <select id="page" resultType="cn.vbill.middleware.porter.manager.core.entity.DataTable">
        SELECT
        b.id, b.source_id AS sourceId, b.data_type AS dataType, b.bank_name AS bankName,
        b.table_name AS tableName, b.create_time AS createTime, d.name AS sourceName
        from b_data_table b left join b_data_source d
        on b.source_id = d.id
        <where>
            b.iscancel = 0
            <if test="bankName != null and bankName != ''">
                and b.bank_name LIKE CONCAT('%',#{bankName},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and b.create_time &gt; #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and b.create_time &lt; #{endTime}
            </if>
            order by b.create_time desc
            limit #{page.offset},#{page.pageSize}
        </where>
    </select>

    <!-- 目标/元数据表组分页All -->
    <select id="dataTableAll" resultType="java.lang.Integer">
        select count(id) from b_data_table
        WHERE iscancel = 0
    </select>

    <!-- 目标/元数据表组分页 -->
    <select id="dataTablePage" resultType="cn.vbill.middleware.porter.manager.core.entity.DataTable">
        SELECT
        b.id, b.source_id AS sourceId, b.data_type AS dataType, b.bank_name AS bankName,
        b.table_name AS tableName, b.create_time AS createTime, d.name AS sourceName
        from b_data_table b left join b_data_source d
        on b.source_id = d.id
        where b.iscancel = 0
        order by b.create_time desc
        limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into b_data_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="tableName != null">
                table_name,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourceId != null">
                #{sourceId,jdbcType=BIGINT},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="tableName != null">
                #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update b_data_table
        <set>
            <if test="dataTable.sourceId != null">
                source_id = #{dataTable.sourceId,jdbcType=BIGINT},
            </if>
            <if test="dataTable.dataType != null">
                data_type = #{dataTable.dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataTable.bankName != null">
                bank_name = #{dataTable.bankName,jdbcType=VARCHAR},
            </if>
            <if test="dataTable.tableName != null">
                table_name = #{dataTable.tableName,jdbcType=VARCHAR},
            </if>
            <if test="dataTable.creater != null">
                creater = #{dataTable.creater,jdbcType=BIGINT},
            </if>
            <if test="dataTable.createTime != null">
                create_time = #{dataTable.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dataTable.state != null">
                state = #{dataTable.state,jdbcType=INTEGER},
            </if>
            <if test="dataTable.iscancel != null">
                iscancel = #{dataTable.iscancel,jdbcType=INTEGER},
            </if>
            <if test="dataTable.remark != null">
                remark = #{dataTable.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
