<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataFieldMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataField">
        <result column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="field_name" property="fieldName" />
        <result column="field_type" property="fieldType" />
        <result column="field_comment" property="fieldComment" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_field(
        table_id,
        field_name,
        field_type,
        field_comment,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{tableId},
        #{fieldName},
        #{fieldType},
        #{fieldComment},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_field
        set
        table_id = #{dataField.tableId},
        field_name = #{dataField.fieldName},
        field_type = #{dataField.fieldType},
        field_comment = #{dataField.fieldComment},
        creater = #{dataField.creater},
        create_time = #{dataField.createTime},
        state = #{dataField.state},
        iscancel = #{dataField.iscancel},
        remark = #{dataField.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from b_data_field where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DataField">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_field
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataField">
        select id, table_id AS tableId, field_name AS fieldName, field_type AS fieldType, field_comment AS fieldComment, creater, create_time AS createTime, state, iscancel, remark from b_data_field
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>
</mapper>
