<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DataTableMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DataTable">
        <result column="id" property="id" />
        <result column="source_id" property="sourceId" />
        <result column="data_type" property="dataType" />
        <result column="bank_name" property="bankName" />
        <result column="table_name" property="tableName" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, source_id AS sourceId, data_type AS dataType, bank_name AS bankName, table_name AS tableName, creater, create_time AS createTime, state, iscancel, remark from b_data_table
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_data_table(
        source_id,
        data_type,
        bank_name,
        table_name,
        creater,
        create_time,
        state,
        iscancel,
        remark
        ) values (
        #{sourceId},
        #{dataType},
        #{bankName},
        #{tableName},
        #{creater},
        #{createTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_data_table
        set
        source_id = #{dataTable.sourceId},
        data_type = #{dataTable.dataType},
        bank_name = #{dataTable.bankName},
        table_name = #{dataTable.tableName},
        creater = #{dataTable.creater},
        create_time = #{dataTable.createTime},
        state = #{dataTable.state},
        iscancel = #{dataTable.iscancel},
        remark = #{dataTable.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from b_data_table where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DataTable">
        select id, source_id AS sourceId, data_type AS dataType, bank_name AS bankName, table_name AS tableName, creater, create_time AS createTime, state, iscancel, remark from b_data_table
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_data_table
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DataTable">
        select id, source_id AS sourceId, data_type AS dataType, bank_name AS bankName, table_name AS tableName, creater, create_time AS createTime, state, iscancel, remark from b_data_table
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>
</mapper>
