<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.DicDataSourcePluginMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.DicDataSourcePlugin">
        <result column="id" property="id" />
        <result column="source_type" property="sourceType" />
        <result column="field_name" property="fieldName" />
        <result column="field_code" property="fieldCode" />
        <result column="field_order" property="fieldOrder" />
        <result column="field_type" property="fieldType" />
        <result column="field_type_key" property="fieldTypeKey" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, source_type AS sourceType, field_name AS fieldName, field_code AS fieldCode, field_order AS fieldOrder, state, iscancel, remark from d_data_source_plugin
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into d_data_source_plugin(
            id,
                source_type,
                field_name,
                field_code,
                field_order,
                state,
                iscancel,
                remark,
        ) values (
            #{id},
                #{sourceType},
                #{fieldName},
                #{fieldCode},
                #{fieldOrder},
                #{state},
                #{iscancel},
                #{remark},
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update d_data_source_plugin
        set
            id = #{dicDataSourcePlugin.id},
                source_type = #{dicDataSourcePlugin.sourceType},
                field_name = #{dicDataSourcePlugin.fieldName},
                field_code = #{dicDataSourcePlugin.fieldCode},
                field_order = #{dicDataSourcePlugin.fieldOrder},
                state = #{dicDataSourcePlugin.state},
                iscancel = #{dicDataSourcePlugin.iscancel},
                remark = #{dicDataSourcePlugin.remark},
                where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from d_data_source_plugin where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.DicDataSourcePlugin">
        select id, source_type AS sourceType, field_name AS fieldName, field_code AS fieldCode, field_order AS fieldOrder, state, iscancel, remark from d_data_source_plugin
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from d_data_source_plugin
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.DicDataSourcePlugin">
        select id, source_type AS sourceType, field_name AS fieldName, field_code AS fieldCode, field_order AS fieldOrder, state, iscancel, remark from d_data_source_plugin
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 根据数据源类型查询数据源页面字段 -->
    <select id="findByType" resultType="com.suixingpay.datas.manager.core.entity.DicDataSourcePlugin">
        SELECT
        id, source_type AS sourceType, field_name AS fieldName, field_code AS fieldCode,
        field_order AS fieldOrder, field_type AS fieldType, field_type_key AS fieldTypeKey
        FROM d_data_source_plugin
        <where>
            1 = 1
            <if test="sourceType != null and sourceType != ''">
                and source_type = #{sourceType}
            </if>
            and iscancel = 0
        </where>
        ORDER BY field_order;
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into d_data_source_plugin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="fieldName != null">
                field_name,
            </if>
            <if test="fieldCode != null">
                field_code,
            </if>
            <if test="fieldOrder != null">
                field_order,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null">
                #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="fieldCode != null">
                #{fieldCode,jdbcType=VARCHAR},
            </if>
            <if test="fieldOrder != null">
                #{fieldOrder,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update d_data_source_plugin
        <set>
            <if test="dicDataSourcePlugin.id != null">
                id = #{dicDataSourcePlugin.id,jdbcType=BIGINT},
            </if>
            <if test="dicDataSourcePlugin.sourceType != null">
                source_type = #{dicDataSourcePlugin.sourceType,jdbcType=VARCHAR},
            </if>
            <if test="dicDataSourcePlugin.fieldName != null">
                field_name = #{dicDataSourcePlugin.fieldName,jdbcType=VARCHAR},
            </if>
            <if test="dicDataSourcePlugin.fieldCode != null">
                field_code = #{dicDataSourcePlugin.fieldCode,jdbcType=VARCHAR},
            </if>
            <if test="dicDataSourcePlugin.fieldOrder != null">
                field_order = #{dicDataSourcePlugin.fieldOrder,jdbcType=INTEGER},
            </if>
            <if test="dicDataSourcePlugin.state != null">
                state = #{dicDataSourcePlugin.state,jdbcType=INTEGER},
            </if>
            <if test="dicDataSourcePlugin.iscancel != null">
                iscancel = #{dicDataSourcePlugin.iscancel,jdbcType=INTEGER},
            </if>
            <if test="dicDataSourcePlugin.remark != null">
                remark = #{dicDataSourcePlugin.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
