<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.porter.manager.core.mapper.DictionaryMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="Dictionary">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="parentcode" property="parentcode" />
        <result column="level" property="level" />
        <result column="dictype" property="dictype" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, code, name, parentcode, level, dictype, state, remark from d_dictionary
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into d_dictionary(
        code,
        name,
        parentcode,
        level,
        dictype,
        state,
        remark
        ) values (
        #{code},
        #{name},
        #{parentcode},
        #{level},
        #{dictype},
        #{state},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update d_dictionary
        set
        code = #{dictionary.code},
        name = #{dictionary.name},
        parentcode = #{dictionary.parentcode},
        level = #{dictionary.level},
        dictype = #{dictionary.dictype},
        state = #{dictionary.state},
        remark = #{dictionary.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from d_dictionary where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="cn.vbill.middleware.porter.manager.core.entity.Dictionary">
        select id, code, name, parentcode, level, dictype, state, remark from d_dictionary
        where id = #{id}
    </select>

    <!-- 查询所有数据 -->
    <select id="selectAll" resultType="cn.vbill.middleware.porter.manager.core.entity.Dictionary">
        select id, code, name, parentcode, level, dictype, state, remark from d_dictionary
        where 1=1
        <if test="state !=null and state != ''">
            and state = #{state}
        </if>
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from d_dictionary
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="cn.vbill.middleware.porter.manager.core.entity.Dictionary">
        select id, code, name, parentcode, level, dictype, state, remark from d_dictionary
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into d_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="parentcode != null">
                parentcode,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="dictype != null">
                dictype,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentcode != null">
                #{parentcode,jdbcType=CHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="dictype != null">
                #{dictype,jdbcType=CHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update d_dictionary
        <set>
            <if test="dictionary.code != null">
                code = #{dictionary.code,jdbcType=VARCHAR},
            </if>
            <if test="dictionary.name != null">
                name = #{dictionary.name,jdbcType=VARCHAR},
            </if>
            <if test="dictionary.parentcode != null">
                parentcode = #{dictionary.parentcode,jdbcType=CHAR},
            </if>
            <if test="dictionary.level != null">
                level = #{dictionary.level,jdbcType=INTEGER},
            </if>
            <if test="dictionary.dictype != null">
                dictype = #{dictionary.dictype,jdbcType=CHAR},
            </if>
            <if test="dictionary.state != null">
                state = #{dictionary.state,jdbcType=INTEGER},
            </if>
            <if test="dictionary.remark != null">
                remark = #{dictionary.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
