<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.JobTasksUserMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.JobTasksUser">
        <result column="id" property="id" />
        <result column="job_task_id" property="jobTaskId" />
        <result column="user_id" property="userId" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, job_task_id AS jobTaskId, user_id AS userId from job_tasks_user
    </sql>-->
</mapper>
