<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.JobTasksFieldMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.JobTasksField">
        <result column="id" property="id" />
        <result column="job_task_id" property="jobTaskId" />
        <result column="job_tasks_table_id" property="jobTasksTableId" />
        <result column="source_table_name" property="sourceTableName" />
        <result column="source_table_field" property="sourceTableField" />
        <result column="target_table_name" property="targetTableName" />
        <result column="target_table_field" property="targetTableField" />
        <result column="sort_order" property="sortOrder" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, job_task_id AS jobTaskId, job_tasks_table_id AS jobTasksTableId, source_table_name AS sourceTableName, source_table_field AS sourceTableField, target_table_name AS targetTableName, target_table_field AS targetTableField, sort_order AS sortOrder from job_tasks_field
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into job_tasks_field(
        job_task_id,
        job_tasks_table_id,
        source_table_name,
        source_table_field,
        target_table_name,
        target_table_field,
        sort_order
        ) values (
        #{jobTaskId},
        #{jobTasksTableId},
        #{sourceTableName},
        #{sourceTableField},
        #{targetTableName},
        #{targetTableField},
        #{sortOrder}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList">
        insert into job_tasks_field(
        job_task_id,
        job_tasks_table_id,
        source_table_name,
        source_table_field,
        target_table_name,
        target_table_field,
        sort_order
        ) values
        <foreach collection="list" item="fields" index="index" separator=",">
        (
            #{fields.jobTaskId},
            #{fields.jobTasksTableId},
            #{fields.sourceTableName},
            #{fields.sourceTableField},
            #{fields.targetTableName},
            #{fields.targetTableField},
            #{fields.sortOrder}
        )
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="update">
        update job_tasks_field
        set
        job_task_id = #{jobTasksField.jobTaskId},
        job_tasks_table_id = #{jobTasksField.jobTasksTableId},
        source_table_name = #{jobTasksField.sourceTableName},
        source_table_field = #{jobTasksField.sourceTableField},
        target_table_name = #{jobTasksField.targetTableName},
        target_table_field = #{jobTasksField.targetTableField},
        sort_order = #{jobTasksField.sortOrder}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from job_tasks_field where job_task_id = #{jobTaskId}
    </delete>

    <!-- 根据jobTasksId和jobTasksTableId查询详情 -->
    <select id="selectInfo" resultType="com.suixingpay.datas.manager.core.entity.JobTasksField">
        select
        id, job_task_id AS jobTaskId, job_tasks_table_id AS jobTasksTableId, source_table_name AS sourceTableName,
        source_table_field AS sourceTableField, target_table_name AS targetTableName, target_table_field AS targetTableField
        from job_tasks_field
        where job_task_id = #{jobTaskId} and job_tasks_table_id = #{jobTasksTableId} ORDER BY id 
    </select>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.JobTasksField">
        select id, job_task_id AS jobTaskId, job_tasks_table_id AS jobTasksTableId, source_table_name AS sourceTableName, source_table_field AS sourceTableField, target_table_name AS targetTableName, target_table_field AS targetTableField, sort_order AS sortOrder from job_tasks_field
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from job_tasks_field
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.JobTasksField">
        select id, job_task_id AS jobTaskId, job_tasks_table_id AS jobTasksTableId, source_table_name AS sourceTableName, source_table_field AS sourceTableField, target_table_name AS targetTableName, target_table_field AS targetTableField, sort_order AS sortOrder from job_tasks_field
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into job_tasks_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                job_task_id,
            </if>
            <if test="jobTasksTableId != null">
                job_tasks_table_id,
            </if>
            <if test="sourceTableName != null">
                source_table_name,
            </if>
            <if test="sourceTableField != null">
                source_table_field,
            </if>
            <if test="targetTableName != null">
                target_table_name,
            </if>
            <if test="targetTableField != null">
                target_table_field,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                #{jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="jobTasksTableId != null">
                #{jobTasksTableId,jdbcType=BIGINT},
            </if>
            <if test="sourceTableName != null">
                #{sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="sourceTableField != null">
                #{sourceTableField,jdbcType=VARCHAR},
            </if>
            <if test="targetTableName != null">
                #{targetTableName,jdbcType=VARCHAR},
            </if>
            <if test="targetTableField != null">
                #{targetTableField,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update job_tasks_field
        <set>
            <if test="jobTasksField.jobTaskId != null">
                job_task_id = #{jobTasksField.jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="jobTasksField.jobTasksTableId != null">
                job_tasks_table_id = #{jobTasksField.jobTasksTableId,jdbcType=BIGINT},
            </if>
            <if test="jobTasksField.sourceTableName != null">
                source_table_name = #{jobTasksField.sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksField.sourceTableField != null">
                source_table_field = #{jobTasksField.sourceTableField,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksField.targetTableName != null">
                target_table_name = #{jobTasksField.targetTableName,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksField.targetTableField != null">
                target_table_field = #{jobTasksField.targetTableField,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksField.sortOrder != null">
                sort_order = #{jobTasksField.sortOrder,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
