<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.JobTasksTableMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        <result column="id" property="id" />
        <result column="job_task_id" property="jobTaskId" />
        <result column="source_table_name" property="sourceTableName" />
        <result column="target_table_name" property="targetTableName" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName from job_tasks_table
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into job_tasks_table(
        job_task_id,
        source_table_name,
        target_table_name
        ) values (
        #{jobTaskId},
        #{sourceTableName},
        #{targetTableName}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        insert into job_tasks_table(
        job_task_id,
        source_table_name,
        target_table_name
        ) VALUE
        <foreach collection="list" item="tables" index="index" separator=",">
            (
            #{tables.jobTaskId},
            #{tables.sourceTableName},
            #{tables.targetTableName}
            )
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="update">
        update job_tasks_table
        set
        job_task_id = #{jobTasksTable.jobTaskId},
        source_table_name = #{jobTasksTable.sourceTableName},
        target_table_name = #{jobTasksTable.targetTableName}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from job_tasks_table where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        select id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName from job_tasks_table
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from job_tasks_table
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        select id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName from job_tasks_table
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into job_tasks_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                job_task_id,
            </if>
            <if test="sourceTableName != null">
                source_table_name,
            </if>
            <if test="targetTableName != null">
                target_table_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                #{jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="sourceTableName != null">
                #{sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="targetTableName != null">
                #{targetTableName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update job_tasks_table
        <set>
            <if test="jobTasksTable.jobTaskId != null">
                job_task_id = #{jobTasksTable.jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="jobTasksTable.sourceTableName != null">
                source_table_name = #{jobTasksTable.sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksTable.targetTableName != null">
                target_table_name = #{jobTasksTable.targetTableName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
