<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.JobTasksTableMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        <result column="id" property="id" />
        <result column="job_task_id" property="jobTaskId" />
        <result column="source_table_name" property="sourceTableName" />
        <result column="target_table_name" property="targetTableName" />
        <result column="ignore_target_case" property="ignoreTargetCase" />
        <result column="force_matched" property="forceMatched" />
        <result column="direct_map_table" property="directMapTable" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName,
        ignore_target_case as ignoreTargetCase, force_matched as forceMatched, direct_map_table as directMapTable
        from job_tasks_table
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into job_tasks_table(
        job_task_id,
        source_table_name,
        target_table_name,
        ignore_target_case,
        force_matched,
        direct_map_table
        ) values (
        #{jobTaskId},
        #{sourceTableName},
        #{targetTableName},
        #{ignoreTargetCase},
        #{forceMatched},
        #{directMapTable}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        insert into job_tasks_table(
        job_task_id,
        source_table_name,
        target_table_name,
        ignore_target_case,
        force_matched,
        direct_map_table
        ) VALUE
        <foreach collection="list" item="tables" index="index" separator=",">
            (
            #{tables.jobTaskId},
            #{tables.sourceTableName},
            #{tables.targetTableName},
            #{tables.ignoreTargetCase},
            #{tables.forceMatched},
            #{tables.directMapTable}
            )
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="update">
        update job_tasks_table
        set
        job_task_id = #{jobTasksTable.jobTaskId},
        source_table_name = #{jobTasksTable.sourceTableName},
        target_table_name = #{jobTasksTable.targetTableName},
        ignore_target_case = #{jobTasksTable.ignoreTargetCase},
        force_matched = #{jobTasksTable.forceMatched},
        direct_map_table = #{jobTasksTable.directMapTable}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from job_tasks_table where job_task_id = #{jobTaskId}
    </delete>

    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        select
        id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName,
        ignore_target_case as ignoreTargetCase, force_matched as forceMatched, direct_map_table as directMapTable
        from job_tasks_table
        WHERE
        job_task_id = #{jobTaskId}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from job_tasks_table
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.JobTasksTable">
        select id, job_task_id AS jobTaskId, source_table_name AS sourceTableName, target_table_name AS targetTableName,
        ignore_target_case as ignoreTargetCase, force_matched as forceMatched, direct_map_table as directMapTable
        from job_tasks_table
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into job_tasks_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                job_task_id,
            </if>
            <if test="sourceTableName != null">
                source_table_name,
            </if>
            <if test="targetTableName != null">
                target_table_name,
            </if>
            <if test="ignoreTargetCase != null">
                ignore_target_case,
            </if>
            <if test="forceMatched != null">
                force_matched,
            </if>
            <if test="directMapTable != null">
                direct_map_table,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobTaskId != null">
                #{jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="sourceTableName != null">
                #{sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="targetTableName != null">
                #{targetTableName,jdbcType=VARCHAR},
            </if>
            <if test="ignoreTargetCase != null">
                #{ignoreTargetCase,jdbcType=INTEGER},
            </if>
            <if test="forceMatched != null">
                #{forceMatched,jdbcType=INTEGER},
            </if>
            <if test="directMapTable != null">
                #{directMapTable,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update job_tasks_table
        <set>
            <if test="jobTasksTable.jobTaskId != null">
                job_task_id = #{jobTasksTable.jobTaskId,jdbcType=BIGINT},
            </if>
            <if test="jobTasksTable.sourceTableName != null">
                source_table_name = #{jobTasksTable.sourceTableName,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksTable.targetTableName != null">
                target_table_name = #{jobTasksTable.targetTableName,jdbcType=VARCHAR},
            </if>
            <if test="jobTasksTable.ignoreTargetCase != null">
                ignore_target_case = #{jobTasksTable.ignoreTargetCase,jdbcType=INTEGER},
            </if>
            <if test="jobTasksTable.forceMatched != null">
                force_matched = #{jobTasksTable.forceMatched,jdbcType=INTEGER},
            </if>
            <if test="jobTasksTable.directMapTable != null">
                direct_map_table = #{jobTasksTable.directMapTable,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
