<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.MrJobTasksMonitorMapper">
    <!-- 通用查询映射结果
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.MrJobTasksMonitor">
        <result column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="node_id" property="nodeId" />
        <result column="node_id_ip" property="nodeIdIp" />
        <result column="swimlane_id" property="swimlaneId" />
        <result column="monitor_date" property="monitorDate" />
        <result column="monitor_ymd" property="monitorYmd" />
        <result column="monitor_hour" property="monitorHour" />
        <result column="monitor_minute" property="monitorMinute" />
        <result column="monitor_second" property="monitorSecond" />
        <result column="insert_succes" property="insertSucces" />
        <result column="insert_failure" property="insertFailure" />
        <result column="update_succes" property="updateSucces" />
        <result column="update_failure" property="updateFailure" />
        <result column="delete_succes" property="deleteSucces" />
        <result column="delete_failure" property="deleteFailure" />
        <result column="alarm_number" property="alarmNumber" />
        <result column="partition_day" property="partitionDay" />
    </resultMap>-->

    <!-- 通用查询结果列
    <sql id="Base_Column_List">
        select id, job_id AS jobId, node_id AS nodeId, node_id_ip AS nodeIdIp, swimlane_id AS swimlaneId, monitor_date AS monitorDate, monitor_ymd AS monitorYmd, monitor_hour AS monitorHour, monitor_minute AS monitorMinute, monitor_second AS monitorSecond, insert_succes AS insertSucces, insert_failure AS insertFailure, update_succes AS updateSucces, update_failure AS updateFailure, delete_succes AS deleteSucces, delete_failure AS deleteFailure, partition_day AS partitionDay from mr_job_tasks_monitor
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into mr_job_tasks_monitor(
        job_id,
        node_id,
        node_id_ip,
        swimlane_id,
        monitor_date,
        monitor_ymd,
        monitor_hour,
        monitor_minute,
        monitor_second,
        insert_succes,
        insert_failure,
        update_succes,
        update_failure,
        delete_succes,
        delete_failure,
        alarm_number,
        partition_day
        ) values (
        #{jobId},
        #{nodeId},
        #{nodeIdIp},
        #{swimlaneId},
        #{monitorDate},
        #{monitorYmd},
        #{monitorHour},
        #{monitorMinute},
        #{monitorSecond},
        #{insertSucces},
        #{insertFailure},
        #{updateSucces},
        #{updateFailure},
        #{deleteSucces},
        #{deleteFailure},
        #{alarmNumber},
        #{partitionDay}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update mr_job_tasks_monitor
        set
        job_id = #{mrJobTasksMonitor.jobId},
        node_id = #{mrJobTasksMonitor.nodeId},
        node_id_ip = #{mrJobTasksMonitor.nodeIdIp},
        swimlane_id = #{mrJobTasksMonitor.swimlaneId},
        monitor_date = #{mrJobTasksMonitor.monitorDate},
        monitor_ymd = #{mrJobTasksMonitor.monitorYmd},
        monitor_hour = #{mrJobTasksMonitor.monitorHour},
        monitor_minute = #{mrJobTasksMonitor.monitorMinute},
        monitor_second = #{mrJobTasksMonitor.monitorSecond},
        insert_succes = #{mrJobTasksMonitor.insertSucces},
        insert_failure = #{mrJobTasksMonitor.insertFailure},
        update_succes = #{mrJobTasksMonitor.updateSucces},
        update_failure = #{mrJobTasksMonitor.updateFailure},
        delete_succes = #{mrJobTasksMonitor.deleteSucces},
        delete_failure = #{mrJobTasksMonitor.deleteFailure},
        alarm_number = #{mrJobTasksMonitor.alarmNumber},
        partition_day = #{mrJobTasksMonitor.partitionDay}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from mr_job_tasks_monitor where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.MrJobTasksMonitor">
        select id, job_id AS jobId, node_id AS nodeId, node_id_ip AS nodeIdIp, swimlane_id AS swimlaneId, monitor_date AS monitorDate, monitor_ymd AS monitorYmd, monitor_hour AS monitorHour, monitor_minute AS monitorMinute, monitor_second AS monitorSecond, insert_succes AS insertSucces, insert_failure AS insertFailure, update_succes AS updateSucces, update_failure AS updateFailure, delete_succes AS deleteSucces, delete_failure AS deleteFailure, alarm_number as alarmNumber, partition_day AS partitionDay from mr_job_tasks_monitor
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from mr_job_tasks_monitor
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.MrJobTasksMonitor">
        select id, job_id AS jobId, node_id AS nodeId, node_id_ip AS nodeIdIp, swimlane_id AS swimlaneId, monitor_date AS monitorDate, monitor_ymd AS monitorYmd, monitor_hour AS monitorHour, monitor_minute AS monitorMinute, monitor_second AS monitorSecond, insert_succes AS insertSucces, insert_failure AS insertFailure, update_succes AS updateSucces, update_failure AS updateFailure, delete_succes AS deleteSucces, delete_failure AS deleteFailure, alarm_number as alarmNumber, partition_day AS partitionDay from mr_job_tasks_monitor
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into mr_job_tasks_monitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                job_id,
            </if>
            <if test="nodeId != null">
                node_id,
            </if>
            <if test="nodeIdIp != null">
                node_id_ip,
            </if>
            <if test="swimlaneId != null">
                swimlane_id,
            </if>
            <if test="monitorDate != null">
                monitor_date,
            </if>
            <if test="monitorYmd != null">
                monitor_ymd,
            </if>
            <if test="monitorHour != null">
                monitor_hour,
            </if>
            <if test="monitorMinute != null">
                monitor_minute,
            </if>
            <if test="monitorSecond != null">
                monitor_second,
            </if>
            <if test="insertSucces != null">
                insert_succes,
            </if>
            <if test="insertFailure != null">
                insert_failure,
            </if>
            <if test="updateSucces != null">
                update_succes,
            </if>
            <if test="updateFailure != null">
                update_failure,
            </if>
            <if test="deleteSucces != null">
                delete_succes,
            </if>
            <if test="deleteFailure != null">
                delete_failure,
            </if>
            <if test="alarmNumber != null">
                alarm_number,
            </if>
            <if test="partitionDay != null">
                partition_day,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="nodeId != null">
                #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="nodeIdIp != null">
                #{nodeIdIp,jdbcType=VARCHAR},
            </if>
            <if test="swimlaneId != null">
                #{swimlaneId,jdbcType=VARCHAR},
            </if>
            <if test="monitorDate != null">
                #{monitorDate,jdbcType=TIMESTAMP},
            </if>
            <if test="monitorYmd != null">
                #{monitorYmd,jdbcType=DATE},
            </if>
            <if test="monitorHour != null">
                #{monitorHour,jdbcType=INTEGER},
            </if>
            <if test="monitorMinute != null">
                #{monitorMinute,jdbcType=INTEGER},
            </if>
            <if test="monitorSecond != null">
                #{monitorSecond,jdbcType=INTEGER},
            </if>
            <if test="insertSucces != null">
                #{insertSucces,jdbcType=BIGINT},
            </if>
            <if test="insertFailure != null">
                #{insertFailure,jdbcType=BIGINT},
            </if>
            <if test="updateSucces != null">
                #{updateSucces,jdbcType=BIGINT},
            </if>
            <if test="updateFailure != null">
                #{updateFailure,jdbcType=BIGINT},
            </if>
            <if test="deleteSucces != null">
                #{deleteSucces,jdbcType=BIGINT},
            </if>
            <if test="deleteFailure != null">
                #{deleteFailure,jdbcType=BIGINT},
            </if>
            <if test="alarmNumber != null">
                #{alarm_number,jdbcType=BIGINT},
            </if>
            <if test="partitionDay != null">
                #{partitionDay,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update mr_job_tasks_monitor
        <set>
            <if test="mrJobTasksMonitor.jobId != null">
                job_id = #{mrJobTasksMonitor.jobId,jdbcType=VARCHAR},
            </if>
            <if test="mrJobTasksMonitor.nodeId != null">
                node_id = #{mrJobTasksMonitor.nodeId,jdbcType=VARCHAR},
            </if>
            <if test="mrJobTasksMonitor.nodeIdIp != null">
                node_id_ip = #{mrJobTasksMonitor.nodeIdIp,jdbcType=VARCHAR},
            </if>
            <if test="mrJobTasksMonitor.swimlaneId != null">
                swimlane_id = #{mrJobTasksMonitor.swimlaneId,jdbcType=VARCHAR},
            </if>
            <if test="mrJobTasksMonitor.monitorDate != null">
                monitor_date = #{mrJobTasksMonitor.monitorDate,jdbcType=TIMESTAMP},
            </if>
            <if test="mrJobTasksMonitor.monitorYmd != null">
                monitor_ymd = #{mrJobTasksMonitor.monitorYmd,jdbcType=DATE},
            </if>
            <if test="mrJobTasksMonitor.monitorHour != null">
                monitor_hour = #{mrJobTasksMonitor.monitorHour,jdbcType=INTEGER},
            </if>
            <if test="mrJobTasksMonitor.monitorMinute != null">
                monitor_minute = #{mrJobTasksMonitor.monitorMinute,jdbcType=INTEGER},
            </if>
            <if test="mrJobTasksMonitor.monitorSecond != null">
                monitor_second = #{mrJobTasksMonitor.monitorSecond,jdbcType=INTEGER},
            </if>
            <if test="mrJobTasksMonitor.insertSucces != null">
                insert_succes = #{mrJobTasksMonitor.insertSucces,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.insertFailure != null">
                insert_failure = #{mrJobTasksMonitor.insertFailure,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.updateSucces != null">
                update_succes = #{mrJobTasksMonitor.updateSucces,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.updateFailure != null">
                update_failure = #{mrJobTasksMonitor.updateFailure,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.deleteSucces != null">
                delete_succes = #{mrJobTasksMonitor.deleteSucces,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.deleteFailure != null">
                delete_failure = #{mrJobTasksMonitor.deleteFailure,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.alarmNumber != null">
                alarm_number = #{mrJobTasksMonitor.alarmNumber,jdbcType=BIGINT},
            </if>
            <if test="mrJobTasksMonitor.partitionDay != null">
                partition_day = #{mrJobTasksMonitor.partitionDay,jdbcType=DATE},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
