<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.MrNodesScheduleMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.MrNodesSchedule">
        <result column="id" property="id" />
        <result column="node_id" property="nodeId" />
        <result column="computer_name" property="computerName" />
        <result column="ip_address" property="ipAddress" />
        <result column="heart_beat_date" property="heartBeatDate" />
        <result column="process_number" property="processNumber" />
        <result column="job_json" property="jobJson" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="state" property="state" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, node_id AS nodeId, computer_name AS computerName, ip_address AS ipAddress, heart_beat_date AS heartBeatDate, process_number AS processNumber, job_json AS jobJson, create_user_id AS createUserId, update_user_id AS updateUserId, create_time AS createTime, update_time AS updateTime, state, iscancel, remark from mr_nodes_schedule
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into mr_nodes_schedule(
        node_id,
        computer_name,
        ip_address,
        heart_beat_date,
        process_number,
        job_json,
        create_user_id,
        update_user_id,
        create_time,
        update_time,
        state,
        iscancel,
        remark
        ) values (
        #{nodeId},
        #{computerName},
        #{ipAddress},
        #{heartBeatDate},
        #{processNumber},
        #{jobJson},
        #{createUserId},
        #{updateUserId},
        #{createTime},
        #{updateTime},
        #{state},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update mr_nodes_schedule
        set
        node_id = #{mrNodesSchedule.nodeId},
        computer_name = #{mrNodesSchedule.computerName},
        ip_address = #{mrNodesSchedule.ipAddress},
        heart_beat_date = #{mrNodesSchedule.heartBeatDate},
        process_number = #{mrNodesSchedule.processNumber},
        job_json = #{mrNodesSchedule.jobJson},
        create_user_id = #{mrNodesSchedule.createUserId},
        update_user_id = #{mrNodesSchedule.updateUserId},
        create_time = #{mrNodesSchedule.createTime},
        update_time = #{mrNodesSchedule.updateTime},
        state = #{mrNodesSchedule.state},
        iscancel = #{mrNodesSchedule.iscancel},
        remark = #{mrNodesSchedule.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from mr_nodes_schedule where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.MrNodesSchedule">
        select id, node_id AS nodeId, computer_name AS computerName, ip_address AS ipAddress, heart_beat_date AS heartBeatDate, process_number AS processNumber, job_json AS jobJson, create_user_id AS createUserId, update_user_id AS updateUserId, create_time AS createTime, update_time AS updateTime, state, iscancel, remark from mr_nodes_schedule
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from mr_nodes_schedule
        <where>
            iscancel = 0
            <if test="ipAddress != null and ipAddress != ''">
                and ip_address LIKE CONCAT('%', #{ipAddress}, '%')
            </if>
            <if test="computerName != null and computerName != ''">
                and computer_name LIKE CONCAT('%', #{computerName}, '%')
            </if>
        </where>
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.MrNodesSchedule">
        select
        id, node_id AS nodeId, computer_name AS computerName, ip_address AS ipAddress, heart_beat_date AS heartBeatDate,
        process_number AS processNumber, job_json AS jobJson from mr_nodes_schedule
        <where>
            iscancel = 0
            <if test="ipAddress != null and ipAddress != ''">
                and ip_address LIKE CONCAT('%', #{ipAddress}, '%')
            </if>
            <if test="computerName != null and computerName != ''">
                and computer_name LIKE CONCAT('%', #{computerName}, '%')
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <!-- 验证新增 -->
    <insert id="insertSelective">
        insert into mr_nodes_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nodeId != null">
                node_id,
            </if>
            <if test="computerName != null">
                computer_name,
            </if>
            <if test="ipAddress != null">
                ip_address,
            </if>
            <if test="heartBeatDate != null">
                heart_beat_date,
            </if>
            <if test="processNumber != null">
                process_number,
            </if>
            <if test="jobJson != null">
                job_json,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="iscancel != null">
                iscancel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="nodeId != null">
                #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="computerName != null">
                #{computerName,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="heartBeatDate != null">
                #{heartBeatDate,jdbcType=TIMESTAMP},
            </if>
            <if test="processNumber != null">
                #{processNumber,jdbcType=VARCHAR},
            </if>
            <if test="jobJson != null">
                #{jobJson,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="iscancel != null">
                #{iscancel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 验证修改 -->
    <update id="updateSelective">
        update mr_nodes_schedule
        <set>
            <if test="mrNodesSchedule.nodeId != null">
                node_id = #{mrNodesSchedule.nodeId,jdbcType=VARCHAR},
            </if>
            <if test="mrNodesSchedule.computerName != null">
                computer_name = #{mrNodesSchedule.computerName,jdbcType=VARCHAR},
            </if>
            <if test="mrNodesSchedule.ipAddress != null">
                ip_address = #{mrNodesSchedule.ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="mrNodesSchedule.heartBeatDate != null">
                heart_beat_date = #{mrNodesSchedule.heartBeatDate,jdbcType=TIMESTAMP},
            </if>
            <if test="mrNodesSchedule.processNumber != null">
                process_number = #{mrNodesSchedule.processNumber,jdbcType=VARCHAR},
            </if>
            <if test="mrNodesSchedule.jobJson != null">
                job_json = #{mrNodesSchedule.jobJson,jdbcType=VARCHAR},
            </if>
            <if test="mrNodesSchedule.createUserId != null">
                create_user_id = #{mrNodesSchedule.createUserId,jdbcType=BIGINT},
            </if>
            <if test="mrNodesSchedule.updateUserId != null">
                update_user_id = #{mrNodesSchedule.updateUserId,jdbcType=BIGINT},
            </if>
            <if test="mrNodesSchedule.createTime != null">
                create_time = #{mrNodesSchedule.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mrNodesSchedule.updateTime != null">
                update_time = #{mrNodesSchedule.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mrNodesSchedule.state != null">
                state = #{mrNodesSchedule.state,jdbcType=INTEGER},
            </if>
            <if test="mrNodesSchedule.iscancel != null">
                iscancel = #{mrNodesSchedule.iscancel,jdbcType=INTEGER},
            </if>
            <if test="mrNodesSchedule.remark != null">
                remark = #{mrNodesSchedule.remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
