<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.datas.manager.core.mapper.NodesMapper">
    <!-- 通用查询映射结果 
    <resultMap id="BaseResultMap" type="com.suixingpay.datas.manager.core.entity.Nodes">
        <result column="id" property="id" />
        <result column="node_id" property="nodeId" />
        <result column="machine_name" property="machineName" />
        <result column="ip_address" property="ipAddress" />
        <result column="pid_number" property="pidNumber" />
        <result column="heart_beat_time" property="heartBeatTime" />
        <result column="state" property="state" />
        <result column="type" property="type" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="iscancel" property="iscancel" />
        <result column="remark" property="remark" />
    </resultMap>-->

    <!-- 通用查询结果列 
    <sql id="Base_Column_List">
        select id, node_id AS nodeId, machine_name AS machineName, ip_address AS ipAddress, pid_number AS pidNumber, heart_beat_time AS heartBeatTime, state, type, creater, create_time AS createTime, iscancel, remark from b_nodes
    </sql>-->

    <!-- 新增 -->
    <insert id="insert">
        insert into b_nodes(
        node_id,
        machine_name,
        ip_address,
        pid_number,
        heart_beat_time,
        state,
        type,
        creater,
        create_time,
        iscancel,
        remark
        ) values (
        #{nodeId},
        #{machineName},
        #{ipAddress},
        #{pidNumber},
        #{heartBeatTime},
        #{state},
        #{type},
        #{creater},
        #{createTime},
        #{iscancel},
        #{remark}
        )
    </insert>

    <!-- 修改 -->
    <update id="update">
        update b_nodes
        set
        node_id = #{nodes.nodeId},
        machine_name = #{nodes.machineName},
        ip_address = #{nodes.ipAddress},
        pid_number = #{nodes.pidNumber},
        heart_beat_time = #{nodes.heartBeatTime},
        state = #{nodes.state},
        type = #{nodes.type},
        creater = #{nodes.creater},
        create_time = #{nodes.createTime},
        iscancel = #{nodes.iscancel},
        remark = #{nodes.remark}
        where id = #{id}
    </update>

    <!-- 刪除 -->
    <delete id="delete">
        delete from b_nodes where id = #{id}
    </delete>

    <!-- 根据主鍵查找 -->
    <select id="selectById" resultType="com.suixingpay.datas.manager.core.entity.Nodes">
        select id, node_id AS nodeId, machine_name AS machineName, ip_address AS ipAddress, pid_number AS pidNumber, heart_beat_time AS heartBeatTime, state, type, creater, create_time AS createTime, iscancel, remark from b_nodes
        where id = #{id}
    </select>

    <!-- 分页All -->
    <select id="pageAll" resultType="java.lang.Integer">
        select count(id) from b_nodes
        where 1=1
    </select>

    <!-- 分页 -->
    <select id="page" resultType="com.suixingpay.datas.manager.core.entity.Nodes">
        select id, node_id AS nodeId, machine_name AS machineName, ip_address AS ipAddress, pid_number AS pidNumber, heart_beat_time AS heartBeatTime, state, type, creater, create_time AS createTime, iscancel, remark from b_nodes
        where 1=1 limit #{page.offset},#{page.pageSize}
    </select>
</mapper>
